*{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}    

body{
    height: auto;
    background: url("/resources/menuBackground.gif");
    background-repeat: no-repeat;
    background-size: 1280px 610px;

}

/*##############################*/
/*##############################*/
/*##############################*/
/* TASK CONTAINER */
/*##############################*/
/*##############################*/
/*##############################*/

.taskContainer{
    text-align: center;
    background-color: rgb(0,0,0, 0.5);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-top: 3px solid violet;
    border-bottom:3px solid blueviolet;
    border-left: 1px solid rgb(172, 108, 231);
    border-right: 1px solid rgb(172, 108, 231);;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: auto;
    margin-left: 470px;
    margin-right: auto;
    visibility: visible;
}

#tasksLayer{
    margin-top: 35px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    outline: 2px solid violet;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(255,255,255,0.8);
    color: black;
} 

hr{
    margin-top: 20px;
    height: 1.2px;
    border: 0;
    background: black;
    margin-bottom: 20px;

}

#tasksContentLayer{
    height: 90px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    outline: 2px solid violet;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(255,255,255,0.8);
    color: black; 
}

#checkTaskLayer{
    text-align: center;
    height:30px;
    width: 260px;
    display: flex;
    margin-top:30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


#nextTask{
    height: 45px;
    width: 90px;
    outline: 2px solid blueviolet;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgba(238, 130, 238, 0.7);
    color: white;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    margin-top: -35px;
    margin-left: -45px;
    margin-bottom: auto;
    margin-right: auto;
}

#doneTask{
    height: 45px;
    width: 90px;
    outline: 2px solid blueviolet;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgba(238, 130, 238, 0.7);
    color: white;
    visibility: visible;
    cursor: pointer;
    margin-top: -5px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

#lateralButtons{
    height: 400px;
    width: 30px;
    margin-top: -440px;
    margin-left: 810px;
    visibility: hidden;
}

#lateralLevel1, #lateralLevel2, #lateralLevel3, #lateralLevel4, #lateralLevel5, #lateralLevel6, #lateralLevel7, #lateralLevel8, #lateralLevel9, #lateralLevel10, #lateralLevel11, #lateralLevel12{
    margin-top: 3px;
    margin-right: 2px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid black;
    outline: 2px solid violet;
    background-color: rgb(255,255,255,0.8);
    color: black;
}

#check {
    width: 50px;
    font-size: 30px;
    margin-top: -327px;
    margin-left: 710px;
    border-radius: 5px;
    visibility: hidden;
}

/*##############################*/
/*##############################*/
/*##############################*/
/* BUTTONS CONTAINER */
/*##############################*/
/*##############################*/
/*##############################*/

.buttonContainer{
    width: 250px;
    height: 400px;
    padding: 10px;
    margin-top: -110px;
    margin-left: 1000px;
    visibility: visible;
}

#levelsBtn, #diaryBtn, #expectationsBtn, #teamBtn, #soundBtn{
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid black;
    outline: 2px solid violet;
    background-color: rgb(255,255,255,0.9);
    color: black;
    cursor: pointer;

} 

/*##############################*/
/*##############################*/
/*##############################*/
/* LEVELS CONTAINER */
/*##############################*/
/*##############################*/
/*##############################*/

.levelsContainer{
    background-color: rgb(0,0,0, 0.5);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-top: 3px solid violet;
    border-bottom:3px solid blueviolet;
    border-left: 1px solid rgb(172, 108, 231);
    border-right: 1px solid rgb(172, 108, 231);;
    border-radius: 30px;
    margin-top: -406px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    visibility: hidden;
}

#levels{
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(255,255,255, 0.8);
    color: black;
    outline: 2px solid violet;
}

#buttons{
    height: 330px;
    width: 260px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#level1, #level2, #level3, #level4, #level5, #level6, #level7, #level8, #level9, #level10, #level11, #level12{
    margin-top: 6px;
    margin-right: 2px;
    height: 70px;
    width: 70px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(255,255,255, 0.8);
    color: black;
    outline: 2px solid violet;
    cursor: pointer;
}

#levelsContent{
    background-color: rgb(0,0,0, 0.5);
    width: 260px;
    height: 275px;
    padding: 10px;
    border-top: 3px solid violet;
    border-bottom:3px solid blueviolet;
    border-left: 1px solid rgb(172, 108, 231);
    border-right: 1px solid rgb(172, 108, 231);;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: -325px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    visibility: hidden;
    overflow-y: scroll;
    color: white;
    text-align: left;
    font-size: 15px;
}

#levelsBackBtn {
    margin-top: 35px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(255,255,255, 0.9);
    color: black;
    visibility: hidden;
    cursor: pointer;
    outline: 2px solid violet;
} 

/*##############################*/
/*##############################*/
/*##############################*/
/* DIARY CONTAINER */
/*##############################*/
/*##############################*/
/*##############################*/

.diaryContainer{
    text-align: center;
    background-color: rgb(220,220,220, 0.65);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-top: 3px solid brown;
    border-bottom: 3px solid black;
    border-left: 1px solid rgb(122, 62, 62);
    border-right: 1px solid rgb(122, 62, 62);
    border-radius: 30px;
    margin-top: -426px;
    margin-bottom: auto;
    margin-left: 472px;
    margin-right: auto;
    visibility: hidden;
}

#diaryHeader {
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    padding: 10px;
    border: 2px solid white;
    outline: 2px solid brown;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(0,0,0, 0.8);
    color: white;
    visibility: hidden;
}

#diarySubHeader {
    margin-top: 10px;
    font-weight: 17px;
    visibility: hidden;
}

#text{
    width: 260px;
    height: 270px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    font-size: 16px;
    overflow-y: scroll;
    border-top: 3px solid brown;
    border-bottom: 3px solid black;
    border-left: 1px solid rgb(122, 62, 62);
    border-right: 1px solid rgb(122, 62, 62);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(0,0,0, 0.8);
    color: white;
    resize: horizontal;
    max-width: 500px;
    min-width: 260px;
}

#diaryBackBtn{
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid white;
    outline: 2px solid brown;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(0,0,0, 0.8);
    color: white;
    visibility: hidden;
    cursor: pointer;
}

#diarySaveBtn {
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid white;
    outline: 2px solid brown;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(0,0,0, 0.8);
    color: white;
    visibility: hidden;
    cursor: pointer;
}


/*##############################*/
/*##############################*/
/*##############################*/
/* EXPECTATIONS CONTAINER */
/*##############################*/
/*##############################*/
/*##############################*/

.expectationsContainer{
    background-color: rgb(0, 0, 0,0.5);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-top: 3px solid rgb(224, 139, 12);
    border-bottom: 3px solid rgb(39, 2, 84);
    border-left: 1px solid rgb(39, 2, 84);
    border-right: 1px solid rgb(172, 108, 231);
    border-radius: 30px;
    margin-top: -426px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#expectationsHeader {

    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    padding: 10px;
    border: 2px solid black;
    outline: 2px solid rgb(224, 139, 12);
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(39, 2, 84, 0.7);
    color: white;
    visibility: hidden;
}

#expectationsContent{
    background-color:rgb(39, 2, 84, 0.5);
    height: 275px;
    padding: 10px;
    border-top: 3px solid rgb(224, 139, 12);
    border-bottom:3px solid rgb(39, 2, 84);
    border-left: 1px solid rgb(172, 108, 231);
    border-right: 1px solid rgb(224, 139, 12);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    visibility: hidden;
    overflow-y: scroll;
    color: white;
    text-align: left;
    font-size: 17px;
}

#expectationsBackBtn{
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: 100px;
    margin-right: auto;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid black;
    outline: 2px solid rgb(224, 139, 12);
    background-color: rgb(39, 2, 84, 0.7);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    visibility: hidden;
    cursor: pointer;

}

/*##############################*/
/*##############################*/
/*##############################*/
/* TEAM CONTAINER */
/*##############################*/
/*##############################*/
/*##############################*/

.teamContainer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 400px;
    padding: 10px;
    border-top: 3px solid rgb(218, 104, 11);
    border-bottom: 3px solid rgb(90, 101, 203);
    border-left: 1px solid rgb(102, 32, 187);
    border-right: 1px solid rgb(172, 108, 231);
    border-radius: 30px;
    margin-top: -426px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#teamHeader {
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    padding: 10px;
    border: 2px solid black;
    outline: 2px solid rgb(218, 104, 11);;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(90, 101, 203, 0.8);
    color: white;
    visibility: hidden;
}

#myPhoto {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

#myDescription{
    height: 40px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    padding: 20px;
    border: 2px solid black;
    outline: 2px solid rgb(90, 101, 203);
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(218, 104, 11, 0.5);
    color: white; 
}

#linkedin {
    position: absolute;
    color: rgb(218, 104, 11);
    margin-top: 20px;
    margin-left: 20px;
}

#teamBackBtn {
    margin-top: 90px;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: auto;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid black;
    outline: 2px solid rgb(218, 104, 11);
    background-color: rgb(90, 101, 203, 0.8);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    visibility: hidden;
    cursor: pointer;
}


